<div class="uk-section  uk-flex-center uk-text-center">
    <div class="uk-container uk-container-small">

      <h4 class="subtitle"> <%= t('call_to_action.title') %> </h4>

      <%= link_to memoirs_path , :class => 'uk-button uk-button-primary' do  %>
        <%= t('call_to_action.see_more') %>
      <% end %>
      <%= link_to memoirs_path , :class => 'uk-button uk-button-default' do  %>
        <%= t('call_to_action.document') %>
      <% end %>
    </div>
</div>
