<div class="uk-section menu-bar weight-regular uk-visible@s">
  <div class="uk-container">
    <nav class="uk-navbar-transparent uk-flex uk-flex-middle" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-list">
          <li>
            <%= link_to root_path do %>
              <!-- <h2 class="white">MemoriaAmbiental.org</h2> -->
              <img data-src="<%= asset_path('logo_ma.png')%>" width="300" alt="Logo Memoria Ambiental" uk-img>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li class="<%= 'uk-active' if current_page?(pages_join_path) %>"> <%= link_to t('navbar.join'),  pages_join_path , :class => 'navbar-link'  %> </li>
          <li class="<%= 'uk-active' if current_page?(pages_about_path) %>"> <%= link_to t('navbar.about'),  pages_about_path , :class => 'navbar-link'  %> </li>
          <li> <%= link_to t('language_name', locale: :es), request.params.merge(locale: :es), class: 'dropdown-item' %> </li>
          <li> <%= link_to t('language_name', locale: :pt), request.params.merge(locale: :pt), class: 'dropdown-item' %> </li>
          <li class="<%= 'uk-active' if current_page?(memoirs_path) %>"> <%= link_to t("navbar.memoirs"),  memoirs_path , :class => 'navbar-link uk-button uk-button-default green-dark'  %> </li>
          <li class='uk-active'>
            <a href="https://instagram.com/memoriaambiental" target="_blank" class="uk-icon-link uk-icon-white" uk-icon="instagram"></a>
          </li>
          <li class='uk-active'>
            <a href="https://twitter.com/MemoriAmbiental" target="_blank" class="uk-icon-link uk-icon-white" uk-icon="twitter"></a>
          </li>
          <li class='uk-active'>
            <a href="https://wa.me/+5521995905064" target="_blank" class="uk-icon-link uk-icon-white" uk-icon="whatsapp"></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<nav class="uk-hidden@s" uk-navbar>
  <div class="uk-navbar-left">
    <%= link_to root_path do %>
      <img data-src="<%= asset_path('logo_memoria.png')%>" width="200" alt="Logo Memoria Ambiental" class="uk-padding-small" uk-img>
    <% end %>

  </div>
  <div class="uk-navbar-right">
    <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>
    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
      <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-list">
          <li class="<%= 'uk-active' if current_page?(root_path) %>"> <%= link_to t('navbar.home'), root_path, :class => 'navbar-link'  %> </li>
          <li class="<%= 'uk-active' if current_page?(memoirs_path) %>"> <%= link_to t("navbar.memoirs"),  memoirs_path , :class => 'navbar-link'  %> </li>
          <li class="<%= 'uk-active' if current_page?(pages_join_path) %>"> <%= link_to t('navbar.join'),  pages_join_path , :class => 'navbar-link'  %> </li>
          <li class="<%= 'uk-active' if current_page?(pages_about_path) %>"> <%= link_to t('navbar.about'),  pages_about_path , :class => 'navbar-link'  %> </li>
          <li class='uk-active'>
            <a href="https://instagram.com/memoriaambiental" target="_blank" class="uk-icon-link" uk-icon="instagram"></a>
            <a href="https://twitter.com/MemoriAmbiental" target="_blank" class="uk-icon-link" uk-icon="twitter"></a>
            <a href="https://wa.me/21995905064" target="_blank" class="uk-icon-link" uk-icon="whatsapp"></a>
          </li>
        </ul>
        <hr class="uk-divider-small">
        <ul class="uk-list">
          <li class="small-text"> <%= link_to t('language_name', locale: :es), request.params.merge(locale: :es), class: 'dropdown-item' %> </li>
          <li class="small-text"> <%= link_to t('language_name', locale: :pt), request.params.merge(locale: :pt), class: 'dropdown-item' %> </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
