<div class="uk-inline uk-visible@s">
  <img class="opacity-img" src="<%= asset_path('home/ma_2.jpg') %>" >
  <div class="uk-position-medium uk-position-bottom uk-overlay uk-light">
    <div class="uk-container animated fadeInUp">
      <h2> <%= t('about.title') %>  </h2>
      <h4 class="uk-margin-remove"> <%= t('about.description') %></h4>
    </div>
  </div>
</div>

<div class="uk-hidden@m uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="<%= asset_path('home/ma_2.jpg') %>" uk-img>
  <div class="uk-container uk-text-center">
    <h3 class="uk-text-bold">  <%= t('about.title') %>  </h3>
    <p class="uk-margin-remove white"><%= t('about.description') %></p>
  </div>
</div>

<section id="about-us">
  <div class="uk-container uk-container-small uk-padding-large">
    <p class="uk-h4 uk-text-center">
      <%= t('about.sentence1') %>
    </p>
    <p class="uk-h4 uk-text-center">
      <span class="uk-text-bold">
        <%= t('about.sentence2') %> </span>
    </p>
    <p class="uk-h4 uk-text-center uk-text-break">
      Creemos que las historias tienen poder, <br>
      las memorias del pasado<br>
      producidas en el presente<br>
      pueden transformar el futuro<br>
    </p>
  </div>
</section>

<section id="more-about">
  <div class="uk-section uk-flex-center bg-terracota uk-light">
    <div class="uk-container">
      <div class="uk-column-1-2@m uk-column-divider">
        <h3> <%= t('about.ask1') %> </h3>
        <p class="white">
          <%= t('about.content1') %>
        </p>
        <p class="white">
          <%= t('about.content2') %>
        </p>
        <p class="white">
          <%= t('about.content3') %>
        </p>
      </div>
    </div>
  </div>
</section>


<section id="team">

</section>
