<div class="uk-visible@s">
  <div class="">
    <img src="<%= asset_path('home/memoria_home.jpg') %>" >
    <div class="uk-position-center">
      <div class="uk-container uk-text-center uk-width-2-3@m">
        <div class="uk-light animated fadeInUp">
          <h1 style="margin-bottom:-20px;"> <%= t('home.title') %> </h1>
          <h3 class="white"><%= t('home.description')%></h3>
          <%= link_to "Conoce más", pages_about_path,
          :class => 'uk-button uk-button-secondary white' %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="uk-hidden@m uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="<%= asset_path('home/memoria_home.jpg') %>" height="500" uk-img>
  <div class="uk-container uk-text-center">
    <h1 class=""> <%= t('home.title') %> </h1>
    <p class="white"><%= t('home.description')%></p>
    <%= link_to "Conoce más", pages_about_path,
    :class => 'uk-button uk-button-secondary white' %>
  </div>
</div>


<section id="main-memoirs">
  <div class="uk-container uk-padding-large">
    <h2 class="uk-text-center uk-padding-small"> <%= t('memoirs.title') %>  </h2>
    <div uk-slider>
      <div class="uk-position-relative">
        <div class="uk-slider-container">
          <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-1@s uk-child-width-1-3@m uk-grid">
            <% @last_memoirs.each_with_index do |memoir, index| %>
              <li class="uk-transition-toggle" tabindex="0">
                <%= link_to memoir_path(memoir) , :class => '' do  %>
                  <div class="uk-card uk-card-default uk-card-hover">
                    <div class="uk-card-media-top">
                      <% if memoir.image.attached? %>
                        <img src="<%= url_for(memoir.image) %>" alt="">
                      <% end %>
                    </div>
                    <div class="uk-card-body uk-padding-small">
                      <p class="uk-card-title uk-text-lead"><%= memoir.title %></p>
                      <p> <span class="uk-margin-small-right" uk-icon="location"></span>
                        <%= memoir.area.name %>
                      </p>
                      <p class="uk-text-muted"> <%= memoir.summary %> </p>
                      <%= link_to 'Conocer memoria', memoir_path(memoir) %>
                    </div>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="uk-hidden@s uk-light">
             <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
             <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
         </div>

         <div class="uk-visible@s">
             <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
             <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
         </div>
      </div>
    </div>
  </div>
</section>



<%= render 'shared/why' %>
