<div class='nested-fields'>

  <div class="uk-margin">
    <%= f.label :name, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.text_field :name, class: 'uk-input' %>
    </div>
  </div>

</div>
