<div class="uk-inline uk-visible@s">
  <img class="opacity-img" src="<%= asset_path('home/ma_3.jpg') %>" >
  <div class="uk-position-medium uk-position-bottom uk-overlay uk-light">
    <div class="uk-container animated fadeInUp">
      <h2> <%= t('memoirs.title') %>  </h2>
      <h4 class="uk-margin-remove"><%= t('memoirs.description') %> </h4>
    </div>
  </div>
</div>

<div class="uk-container uk-padding">

  <ul class="uk-breadcrumb">
    <li> <%= link_to 'Memoria', memoirs_path %> </li>
    <li><span>Crear memoria</span></li>
  </ul>


  <h2>Nueva memoria</h2>

  <%= render 'form', memoir: @memoir %>

</div>
